.box{
    height: 100vh;
}
.sidebar {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f7f7f7;
}

.subTitle {
    display: inline-block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.active {
    background-color: #FFFFFF;
    cursor: pointer;
}


.container {
    width: auto;
    height: 100%;
    padding: 20px;
    margin-left: 200px;
    overflow: auto;
}

.block-title {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
}

.create-sku-line {
    margin: 10px 0;
}


.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
